:root {
  --color-1: #186cb8;
  --color-2: #2a9a9f;
  --color-3: #f1b211;
  --color-4: #e83611;
  --color-5: #f9002f;
}
/**
  |============================
  | Backgrounds
  |============================
*/
.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*
.thumb {
  width: 600px;
  width: 100%;
  height: 600px;

  background-color: var(--color-1);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
} */

/* .thumb { */
/* bg-image properties */
/* background-image: url(./images/dogs.jpg);
  background-position: top calc(50%) left calc(50% + 200px);
  background-size: cover;
  background-repeat: no-repeat; */

/* багатошаровий фон */
/* background-image: url(./images/layer-joystick.png), url(./images/layer-pc.png),
    url(./images/layer-totoro.png);
  background-position: left top, right top, center;
  background-size: 100px, 300px, 400px; */
/* } */

/* .page { */
/* pattern image */
/* background-image: url(./images/pattern-image.jpg); */
/* } */

/**
  |============================
  | Parallax effect
  |============================
*/
.parallax-section,
.parallax-section-two {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(rgba(255, 0, 119, 0.3), rgba(255, 0, 119, 0.3)),
    url(./images/parallax.jpg);
  background-position: center;
  background-size: cover;
  /* set fixed bg-image position */
  background-attachment: fixed;
}
.parallax-section-two {
  background-image: url(./images/parallax-1.jpg);
}

.parallax-section-title {
  font-size: 15vw;
  letter-spacing: 0.08em;

  background-image: linear-gradient(
    219deg,
    var(--color-1) 19%,
    transparent 19%,
    transparent 20%,
    var(--color-2) 20%,
    var(--color-2) 39%,
    transparent 39%,
    transparent 40%,
    var(--color-3) 40%,
    var(--color-3) 59%,
    transparent 59%,
    transparent 60%,
    var(--color-4) 60%,
    var(--color-4) 79%,
    transparent 79%,
    transparent 80%,
    var(--color-5) 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.description-section {
  height: 100vh;
  padding: 75px;
  font-size: 22px;
  line-height: 1.5;
}
