/**
  |============================
  | Header
  |============================
*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;

  background-color: transparent;
  backdrop-filter: none;

  transition-property: background-color, backdrop-filter;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;

  &.no-transparency {
    background-color: rgba(25, 28, 38, 0.4);
    backdrop-filter: blur(4px);
  }
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 131px;
}

.header-contact {
  margin-right: 40px;

  display: block;
  padding-top: 54px;
  padding-bottom: 54px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: var(--light-txt-cl);

  transition: color var(--anim-fast);

  &:hover,
  &:focus {
    color: var(--accent-txt-cl);
  }
}

.header-group {
  margin-left: auto;
  padding-right: 20px;
  display: flex;
  align-items: center;
}

.header-btn {
  animation: bounce-top 0.9s both;
}
