.nav {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.nav__list {
  @extend %list;

  display: flex;
}

.nav__item {
  &:not(:last-child) {
    margin-right: 16px;

    @media screen and (min-width: 1200px) {
      margin-right: 30px;
    }
  }
}

.nav__link {
  position: relative;

  display: block;
  padding-top: 54px;
  padding-bottom: 54px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: var(--light-txt-cl);

  transition: color var(--anim-fast);

  &:hover,
  &:focus {
    color: var(--accent-txt-cl);
  }

  &--current {
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 30px;
      transform: translateX(-50%);

      display: inline-flex;
      width: calc(100% + 2px);
      height: 3px;

      border-radius: 4px;
      background-color: #ff6c00;
    }
  }
}
